/* ===== GLOBAL RULES ===== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: #e6533c;
	--white: #ffffff;
	--white-60: rgba(255, 255, 255, 0.6);
	--white-50: rgba(255, 255, 255, 0.5);
	--white-10: rgba(255, 255, 255, 0.1);
	--black: #000000;

	--font-main: 'Inter', Arial, Helvetica, sans-serif;
	--font-fansy: 'Miama', Times, serif;
	--thin: 200;
	--regular: 400;
	--medium: 600;
	--bold: 800;
	--extra-bold: 900;
	--primary-heading: clamp(2.25rem, 0.9rem + 6vw, 4.875rem);
	--secondary-heading: clamp(2rem, 1.4857rem + 2.2857vw, 3rem);
	--column-gap: 32px;
	--grid-inline-gap: var(--column-gap) * 2;
}

body {
	background-color: var(--black);
	color: var(--white);
	font-family: var(--font-main);
	font-weight: var(--thin);
	font-size: 0.875rem;
}

img {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	color: currentColor;
	text-decoration: none;
}

li {
	list-style: none;
}

/* ===== REUSEABLE RULES ===== */

.wrapper {
	display: grid;
	grid-template-columns:
		1fr
		min(1060px, calc(100% - var(--grid-inline-gap)))
		1fr;
	row-gap: 96px;
}

.wrapper > * {
	grid-column: 2;
}

.bg-expansion {
	display: grid;
	grid-column: 1/-1;
	grid-template-columns:
		1fr
		min(1060px, calc(100% - var(--grid-inline-gap)))
		1fr;
}

.bg-expansion > * {
	grid-column: 2;
}

.heading-primary,
.heading-secondary {
	font-weight: var(--extra-bold);
	line-height: calc(1em + 0.725rem);
}
.heading-primary {
	font-size: var(--primary-heading);
	max-width: 10ch;
}

.heading-secondary {
	font-size: var(--secondary-heading);
}

.heading-description {
	font-size: 0.875rem;
	color: var(--white-50);
	line-height: 1.5;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.btn {
	display: inline-block;

	text-decoration: none;
	font-size: 1.125rem;
	font-weight: var(--medium);
	color: currentColor;
	padding: 16px 40px;
	border-radius: 50px;

	border: none;
	cursor: pointer;
	font-family: inherit;
}

.btn-full {
	background-color: var(--primary-color);
}

.btn-outline {
	outline: 1px solid var(--white);
}

.btn-long {
	margin-top: 34px;
	line-height: 1;
	padding-inline: 72px;
}

/* ===== HEADER RULES ===== */

header {
	padding-top: 50px;
	background: linear-gradient(
		#111,
		rgba(119, 119, 119, 0.3),
		transparent 100%
	);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand-logo {
	font-size: 2.25rem;
	font-weight: var(--bold);
	color: var(--primary-color);
	font-style: italic;
}

.navbar-list {
	display: flex;
	gap: 48px;
	font-size: 1.125rem;
	border: 1px solid var(--white-10);
	padding: 12px 24px 12px 4px;
	border-radius: 50px;
}

.active-page {
	font-weight: var(--regular);
	background-color: var(--primary-color);
	padding: 8px 20px;
	border-radius: 50px;
}

.section-banner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	margin-top: 32px;
}

.heading-primary span {
	font-family: var(--font-fansy);
	font-weight: 400;
	font-size: calc(var(--primary-heading) * 2);
	line-height: 0;
	letter-spacing: 1px;
}
.section-banner .heading-description {
	margin: 28px 0;
	font-size: 1rem;
	max-width: 50ch;
}

header .btn-full {
	margin-right: 14px;
}

.img-box {
	justify-self: end;
	position: relative;
}

.floting-box-1,
.floting-box-2 {
	background-color: var(--white-10);
	backdrop-filter: blur(10px);
	border: 1px solid var(--white-10);
	border-radius: 12px;
	letter-spacing: 1px;
	position: absolute;
	line-height: 1;
}

.floting-box-1 {
	padding: 20px 24px;
	bottom: 64px;
	left: -106px;

	align-items: center;
	gap: 10px;
}

.floting-box-2 {
	padding: 16px 24px;
	top: 124px;
	right: -66px;
}

.circle {
	width: 40px;
	height: 40px;
	background-color: var(--primary-color);
	border-radius: 50%;
}

.floting-span {
	font-size: 1.5rem;
	font-weight: var(--extra-bold);
}

.floting-text {
	margin-top: 12px;
	font-size: 1rem;
	color: var(--white-60);
}

.floting-box-2 .floting-span {
	font-size: 2.5rem;
}

.floting-box-2 .floting-text {
	font-size: 0.75rem;
}

/* ===== CYH RULES ===== */

.section-cyh .heading-secondary {
	text-align: center;
}
.section-cyh .heading-description {
	text-align: center;
	margin: 14px auto 0 auto;
	max-width: 70ch;
}

.cyh-components .heading-description {
	margin-top: 6px;
	line-height: 1.4;
	max-width: 25ch;
}

.cyh-components {
	margin-top: 58px;
	grid-template-columns: repeat(4, 1fr);
}
.cyh-component {
	flex-direction: column;
	align-items: center;
}
.cyh-component-img {
	height: 180px;
	width: 180px;
	border-radius: 50%;
	border: 4px solid var(--white-10);
	margin-bottom: 30px;
}

.cyh-component-headline {
	font-size: 1.125rem;
}

/* ===== RESPONSIVE RULES ===== */

@media screen and (max-width: 1200px) {
	.floting-box-2 {
		right: -20px;
	}
}

@media screen and (max-width: 992px) {
	.section-banner {
		grid-template-columns: 1fr;
		padding-inline: 40px;
		row-gap: 120px;
	}

	.img-box {
		justify-self: center;
	}

	.floting-box-2 {
		top: 54px;
		right: -26px;
	}

	.floting-box-1 {
		bottom: 134px;
		left: -46px;
	}

	.navbar-list {
		font-size: 1rem;
	}

	.cyh-components {
		grid-template-columns: 1fr 1fr;
		row-gap: 40px;
	}

	.section-cyh > .heading-description {
		max-width: 55ch;
	}
}

@media screen and (max-width: 768px) {
	:root {
		--column-gap: 20px;
	}

	.section-banner {
		padding-inline: 0;
	}

	.navbar-list {
		display: none;
	}

	.btn-full span {
		display: none;
	}

	.btn {
		line-height: 1;
		padding-block: 20px;
	}

	.btn-outline {
		padding: 20px;
	}
}

@media screen and (max-width: 576px) {
	.floting-box-1,
	.floting-box-2 {
		padding: 14px 18px;
		border-radius: 9px;
		letter-spacing: 0.5px;
	}

	.circle {
		width: 30px;
		height: 30px;
	}

	.floting-box-1 {
		bottom: 240px;
		left: 10px;
	}

	.floting-box-2 {
		right: 10px;
	}

	.floting-span {
		font-size: 1.125rem;
	}

	.floting-text {
		font-size: 0.75rem;
	}

	.floting-box-2 .floting-span {
		font-size: 1.875rem;
	}

	.floting-box-2 .floting-text {
		font-size: 0.625rem;
	}

	.cyh-components {
		grid-template-columns: 1fr;
	}
}
